body {
    background: GhostWhite;
}
.swatch {
    width: 300px;
    height: 20px;
    padding: 3px;
}
.swatch > pre {
    margin: 0;
    padding: 3px;
}
.swatch > pre > span {
    float: right;
    margin: 0;
    padding: 0;
}